* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  color: #2c2c2c;
  font-size: 15px;
  line-height: 1.5;
}

header {
  padding: 50px 100px;
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}

.container {
  width: 70%;
  max-width: 100%;
  margin: auto;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Empik Button Style */

.empik-link {
  position: static;
  cursor: pointer;
  display: inline-block;
  width: max-content;
  border: 0;
  font-weight: 600;
  padding: 5px 15px;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}

.empik-link span {
  margin-right: 10px;
}

.empik-link.btn:hover span {
  border-bottom: 2px solid #fff;
  transform: translateX(5px);
}

.empik-link:hover i {
  transition: ease-in-out 0.3s;
  transform: translateX(5px);
}

.empik-link i {
  margin-right: 0;
  padding-right: 0;
  transition: ease-in-out 0.3s;
}

.empik-link span:hover {
  transition: ease-in-out 0.3s;
  transform: translateZ(5px);
}

/* Books List Styling */

.main-books {
  display: inline-block;
  width: 250px;
}

.main-books img {
  width: 250px;
  height: 380px;
  box-shadow: -7px 7px 5px 0px #323232bf;
  transition: ease-in 0.1s;
  transition: ease-out 0.2s;
}

.main-books img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

.description {
  position: relative;
  width: 100%;
}

.book-title {
  padding: 10px 0px;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  /* height: 65px; */
}

.sub-title {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 13px;
  /* height: 60px; */
}

.author {
  font-size: 13px;
}

span,
.author {
  font-weight: 700;
  color: #706d6d;
}

span .author,
a {
  padding-bottom: 20px;
  color: #026ce6;
  font-weight: 400;
}

.author a:hover {
  color: #262626;
}

.title-link {
  color: #2c2c2c;
}

.title-link:hover {
  color: #026ce6;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 65vh);
  gap: 20px;
}

/* Book Counter Start */

.books-list {
  counter-reset: books;
}

.books-list > .main-books {
  counter-increment: books;
}

#result::after {
  content: counter(books);
}

div #result {
  position: absolute;
  justify-content: center;
  align-items: center;
}

/* Search Bar Styling */

.search-container {
  padding-top: 64px;
}

.search-title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #2c2c2c;
}

.search-input {
  width: 50%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: transparent;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

input:hover {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
